<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CED Register</title>
    </head>
    <body>

        <form name="information" method="post" action="/">
            <table border="0">
            <tr>
                <td colspan="2" align="center">Sign up</td>
            </tr>
            <tr>
                <td>Firstname : </td>
                <td><input type="text" name="txt_fname" placeholder="Insert Firstname"></td>
            </tr>
            <tr>
                <td>Lastname : </td>
                <td><input type="text" name="txt_lname" placeholder="Insert Lastname"></td>
            </tr>
            <tr>
                <td>Username : </td>
                <td><input type="text" name="txt_username" placeholder="Insert Username"></td>
            </tr>
            <tr>
                <td>Password : </td>
                <td><input type="password" name="txt_password" placeholder="Insert Password"></td>
            </tr>
            <tr>
                <td>Email : </td>
                <td><input type="text" name="txt_email" placeholder="Insert Email"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="Submit"></td>
            </tr>
            </table>
        </form>

    </body>
</html>